git submodule add https://github.com/DougzCD/APSI5.git APSI5
git submodule add git@github.com:https://github.com/DougzCD/APSI5.git APSI5

git submodule add https://github.com/DougzCD/GSOI5.git GSOI5
git submodule add git@github.com:https://github.com/DougzCD/GSOI5.git GSOI5

git submodule add https://github.com/DougzCD/PDMI5.git PDMI5
git submodule add git@github.com:https://github.com/DougzCD/PDMI5.git PDMI5

git submodule add https://github.com/DougzCD/TSWI5.git TSWI5
git submodule add git@github.com:https://github.com/DougzCD/TSWI5.git TSWI5

git status

git pull

git submodule update --init --recursive
